.register-form {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

[type="submit"] {
    --background: #0f5f1a;
    --color: #ffffff;
    --border-radius: 5px;
    text-transform: uppercase;
}

.custom-item {
    margin-bottom: 15px; 
}

.custom-label {
    font-size: 16px; 
}

.custom-select {
    width: 100%; 
}

// 

.photo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-button {
    margin-top: 10px;
    background-color: #3880ff; 
    color: #ffffff; 
}

.camera-icon {
    margin-right: 8px;
}

.photo-col {
    margin-top: 10px;
}

.photo-img {
    width: 100%; /* Ajusta el ancho de la imagen según tus preferencias */
    max-height: 200px; /* Ajusta la altura máxima de la imagen según tus preferencias */
    object-fit: cover; /* Ajusta cómo la imagen se adapta al contenedor */
    border-radius: 8px; /* Ajusta el radio de borde para esquinas redondeadas */
}
